<header>
  
  <div class="back-button">
    <button (click)="backToMain()">Zurück</button>
  </div>
  <div class="logout-button">
    <button (click)="logOut()">Logout</button>
  </div>
</header>
<div>
    <h1>Sensor Array</h1>
    <b>Anzeige von alt nach neu</b>
    <ul>
      <li *ngFor="let item of sensorArray" [ngClass]="{'red-text': item > tempMax}">{{ item }}</li>
    </ul>
</div>
<div>
  Durchschnittstemperatur: {{avg}} <br>
  Serverschrank: {{Serverschrank}} <br>
  Adresse: {{Adresse}} <br>
  Hersteller: {{Hersteller}}<br>
  Höchste gemessene Temperatur: {{highTemp}}<br>
  <div>
    <label for="textInput">Maximaltemperatur: </label>
    <input type="number" id="textInput" [(ngModel)]="tempMax">
  </div>
  
</div>
<div class="change-button">
  <button (click)="changeMaxTemp()">Maximaltemperatur ändern</button>
</div>
<div class="refresh-button">
  <button (click)="refresh()">Aktualisieren</button>
</div>
<footer>
  <div class="logout-button">
    <button (click)="help()">Hilfe</button>
  </div>
</footer>